.create-page-main-container{
  width: 863px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.create-page-main-img-upload{
  border-radius: 4px;
  background-color: #067F78;
  color: white;
   padding: 4px 15px;
   text-align: center;
   text-decoration: none;
   /* display: inline-block; */
   font-size: 16px;
   /* width:250px; */
   margin-left: 5px;
   margin-right: auto;
   margin-top: 4px;
   margin-bottom: 7px;
}
.create-page-main-img-upload:hover{
  background-color: #0DB684;
}
.create-page-main-img-upload:focus{
  outline:0;
}

.ingredient-select-btn-letter{
  border-radius: 4px;
  background-color: #737373;
  color: white;
   padding: 3px 9px;
   text-align: center;
   text-decoration: none;
   /* display: inline-block; */
   font-size: 16px;
   /* width:250px; */

   margin-right: 2px;
   margin-top: 4px;
   margin-bottom: 7px;
}
.ingredient-select-btn-letter:hover{
  background-color: #067F78;
}
.ingredient-select-btn-letter:focus{
  outline:0;
}

.create-page-main-alphabet-btns{
width: 863px;

}

 .ingredient-select-btn{
  border-radius: 4px;
  background-color: #067F78;
  color: white;
   padding: 3px 9px;
   text-align: center;
   text-decoration: none;
   font-size: 16px;
   margin-right: 2px;
   margin-left: 2px;
   margin-top: 2px;
   margin-bottom: 2px;
}
 .ingredient-select-btn:hover{
  background-color: #0DB684;
}
.ingredient-select-btn-pad{
  background-color: white;
}

.create-page-main-step-container{
  /* border: solid lightgrey 1px; */
  /* border-radius: 15px; */
  background-color: white;
  margin-bottom: 15px;
  width: 550px;
}
.create-page-main-step-container textarea{
  height:120px;
  width: 550px;
  border: solid lightgrey 1px;
  border-collapse:collapse;
  border-radius: 15px;
  display: flex;
align-items:flex-start;
  flex-wrap: wrap;
  color: black;
  font-size: 18px;
  padding: 5px;
}
.create-page-main-step-container textarea:focus{
outline:0;
}

.create-page-main-step-image{
  width: 550px;
  height:430px;
}


.create-page-main-universal-btn{
  border-radius: 4px;
  background-color: #067F78;
  color: white;
   padding: 2px 5px;
   text-align: center;
   text-decoration: none;
   /* display: inline-block; */
   font-size: 14px;
   /* width:250px; */
   margin-left: 5px;
   margin-right: 5px;
   margin-top: 4px;
   margin-bottom: 7px;
}
.create-page-main-universal-btn:hover{
  background-color: #0DB684;
}
.create-page-main-universal-btn:focus{
  outline:0;
}
.create-page-main-ingr-btn{
  border: 0px;
  border-radius: 4px;
  background-color: white;
    color: #9A9A9D;
   padding: 2px 5px;
   text-align: center;
   text-decoration: none;
   /* display: inline-block; */
   font-size: 14px;
   /* width:250px; */
   margin-left: 5px;
   margin-right: 5px;
   margin-top: 4px;
   margin-bottom: 7px;
}
.create-page-main-ingr-btn:hover{
  background-color: #0DB684;
  color: white;
  border: 1px solid #9A9A9D ;
}
.create-page-main-ingr-btn:focus{
  outline:0;
}
.create-page-main-universal-btn-delete{
  border-radius: 4px;
  background-color: #067F78;
  color: white;
   padding: 2px 5px;
   text-align: center;
   text-decoration: none;
   /* display: inline-block; */
   font-size: 14px;
   /* width:250px; */
   margin-left: 5px;
   margin-right: 5px;
   margin-top: 4px;
   margin-bottom: 7px;
   cursor:pointer;
}
.create-page-main-universal-btn-delete:hover{
  background-color: #920811;
     cursor:pointer;
}
.create-page-main-universal-btn-delete:focus{
  outline:0;
     cursor:pointer;
}
