.create-page-main-container{
  width: 863px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.create-page-main-img-upload{
  border-radius: 4px;
  background-color: #067F78;
  color: white;
   padding: 4px 15px;
   text-align: center;
   text-decoration: none;
   /* display: inline-block; */
   font-size: 16px;
   /* width:250px; */
   margin-left: 5px;
   margin-right: auto;
   margin-top: 4px;
   margin-bottom: 17px;
}
.create-page-main-img-upload:hover{
  background-color: #0DB684;
}
.create-page-main-img-upload:focus{
  outline:0;
}

.ingredient-select-btn-letter{
  border-radius: 4px;
  background-color: #737373;
  color: white;
   padding: 3px 9px;
   text-align: center;
   text-decoration: none;
   /* display: inline-block; */
   font-size: 16px;
   /* width:250px; */

   margin-right: 2px;
   margin-top: 4px;
   margin-bottom: 7px;
}
.ingredient-select-btn-letter:hover{
  background-color: #067F78;
}
.ingredient-select-btn-letter:focus{
  outline:0;
}

.create-page-main-alphabet-btns{
width: 863px;

}

 .ingredient-select-btn{
  border-radius: 4px;
  background-color: #067F78;
  color: white;
   padding: 3px 9px;
   text-align: center;
   text-decoration: none;
   font-size: 16px;
   margin-right: 2px;
   margin-left: 2px;
   margin-top: 2px;
   margin-bottom: 2px;
}
 .ingredient-select-btn:hover{
  background-color: #0DB684;
}
.ingredient-select-btn-pad{
  background-color: white;
}

.create-page-main-step-container{
  /* border: solid lightgrey 1px; */
  /* border-radius: 15px; */
  background-color: white;
  margin-bottom: 15px;
  width: 550px;
}
.create-page-main-step-container textarea{
  height:120px;
  width: 550px;
  border: solid lightgrey 1px;
  border-collapse:collapse;
  border-radius: 15px;
  display: flex;
align-items:flex-start;
  flex-wrap: wrap;
  color: black;
  font-size: 18px;
  padding: 5px;
}
.create-page-main-step-container textarea:focus{
outline:0;
}

.create-page-main-step-image{
  width: 550px;
  height:430px;
}


.create-page-main-universal-btn{
  border-radius: 4px;
  background-color: #067F78;
  color: white;
   padding: 2px 5px;
   text-align: center;
   text-decoration: none;
   /* display: inline-block; */
   font-size: 14px;
   /* width:250px; */
   margin-left: 5px;
   margin-right: 5px;
   margin-top: 4px;
   margin-bottom: 7px;
}
.create-page-main-universal-btn:hover{
  background-color: #0DB684;
}
.create-page-main-universal-btn:focus{
  outline:0;
}
.create-page-main-ingr-btn{
  border: 0px;
  border-radius: 4px;
  background-color: white;
    color: #9A9A9D;
   padding: 2px 5px;
   text-align: center;
   text-decoration: none;
   /* display: inline-block; */
   font-size: 14px;
   /* width:250px; */
   margin-left: 5px;
   margin-right: 5px;
   margin-top: 4px;
   margin-bottom: 7px;
}
.create-page-main-ingr-btn:hover{
  background-color: #0DB684;
  color: white;
  border: 1px solid #9A9A9D ;
}
.create-page-main-ingr-btn:focus{
  outline:0;
}
.create-page-main-universal-btn-delete{
  border-radius: 4px;
  background-color: #067F78;
  color: white;
   padding: 2px 5px;
   text-align: center;
   text-decoration: none;
   /* display: inline-block; */
   font-size: 14px;
   /* width:250px; */
   margin-left: 5px;
   margin-right: 5px;
   margin-top: 4px;
   margin-bottom: 7px;
   cursor:pointer;
}
.create-page-main-universal-btn-delete:hover{
  background-color: #920811;
     cursor:pointer;
}
.create-page-main-universal-btn-delete:focus{
  outline:0;
     cursor:pointer;
}

.create-page-main-title{
/* height:16px; */
border-top: none;
border-left: none;
border-right: none;
border-bottom: 2px solid gray;
font-size: 16px;
margin-left: 5px;
}

.create-page-main-title:focus{
  outline:0;
}
.create-page-main-ing{
/* height:16px; */
border-top: none;
border-left: none;
border-right: none;
border-bottom: 2px solid gray;
font-size: 16px;
margin-left: 10px;
margin-right: 10px;
}

.create-page-main-ing:focus{
  outline:0;
}
.create-page-main-ing-disabled{
/* height:16px; */
border-top: none;
border-left: none;
border-right: none;
border-bottom: 2px dashed gray;
font-size: 16px;
margin-left: 10px;
margin-right: 10px;
}

.create-page-main-ing-disabled:focus{
  outline:0;
}
.create-page-main-time{
/* height:16px; */
border-top: none;
border-left: none;
border-right: none;
border-bottom: 2px solid gray;
font-size: 16px;
margin-left: 5px;
width:30px;
}

.create-page-main-time:focus{
  outline:0;
}
.create-page-main-diff{
/* height:16px; */
/* border-top: none;
border-left: none;
border-right: none; */
border: 1px solid gray;
font-size: 16px;
margin-left: 10px;
}
.create-page-main-diff:focus{
outline: 0;
}
.create-page-main-cuis{
border: 1px solid gray;
font-size: 16px;
margin-left: 10px;

}
.create-page-main-cuis:focus{
outline: 0;
}

.create-page-main-amount{
/* height:16px; */
border-top: none;
border-left: none;
border-right: none;
border-bottom: 2px solid gray;
font-size: 16px;
margin-left: 10px;
margin-right: 10px;
width:60px;
}

.create-page-main-amount:focus{
  outline:0;
}


.create-page-main-container{
font-size: 22px;
  color: #464646;
  margin-bottom: 10px;
}
.create-page-main-ing-name{
  width:300px;
}
.create-page-main-ing-amount{
  width:55px;
}
.create-page-main-ing-measuring{
  width: 100px;
}
.create-page-main-ing-div{
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  list-style-type: circle;
  border-bottom: 1px solid gray;
  width: 700px;
}

.create-page-main-recipe-title{
  color: #464646;
  font-size: 26px;
}


.create-page-main-video-title{
margin-top: 20px;
}

.create-page-main-video-url{
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid gray;
  font-size: 16px;
  margin-left: 5px;
  width:450px;
}
.create-page-main-video-url:focus{
  outline: 0;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
