
.info-page-main-container{
  width: 863px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}
.info-page-main-container-spacer{
  height: 30px;
}
.info-page-main-img{
  width: 863px;
  height: 484px;
  border-collapse:collapse;
  border-radius: 15px;
}

.info-page-main-mini-nav{
  height: 60px;
    width: 863px;
  border-bottom: 1px solid #D8D8D8;
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
}

.sticky {
  position: fixed;
  top: 0;
  width: 863px;
}
.info-page-main-mini-nav-links{
  width:70%;
  height: 60px;
  background-color: white;
  display: flex;
  flex-flow: row;

}

.btn{
  color: #464646;
   padding: 19px 15px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 17px;
   border: none;
   border-bottom: solid white 2px;
}

.btn:active{
   border-bottom: solid #067F78 3px;
}

.btn:focus{
   border-bottom: solid #067F78 3px;
   outline: none;
}

.info-page-main-mini-nav-pin{
  width:30%;
  height: 60px;
  background-color: white;
}


.info-page-main-info{
  min-height:635px;
  width: 863px;
  background-color: white;
}

.info-page-main-info-details{
  width: 585px;
  height:635px;
}
.info-page-main-info-recommended{
  width: 278px;
  height:635px;

}


.info-page-main-info-name{
height: 70px;
width:585px;
padding-top: 30px;
color:#464646;
background-color: white;
font-size: 26px;
display: flex;
justify-content:space-between;
/* align-content:center; */
flex-direction:row;
flex-wrap: wrap;
/* padding-left: 7px; */

}
.info-page-main-info-name span{
font-size: 20px;
color:#9A9A9A;
}
.info-page-main-info-name a{
color:#9A9A9A;
font-size: 20px;
text-decoration: none;
}
.info-page-main-info-name a:hover{
color:#9A9A9A;
font-size: 20px;
text-decoration: underline;
}


.info-page-main-info-likes{
  border-top: dotted lightgrey 1px;
  height: 55px;
  width:585px;
  background-color: white;
  display: block;
  display:flex;
  flex-wrap: nowrap;
}
.info-page-main-info-likes div{
  padding-top: 16px;
}

.info-page-main-info-likes img{
    width: 25px;
    height: 25px;
    margin-top: 14px;
    margin-right: 5px;
}
.info-page-main-info-difficulty{
  border-top: dotted lightgrey 1px;
padding-top: 16px;
  height: 55px;
  width:585px;
  font-size: 22px;
color:#464646;

  /* display: flex; */
  /* align-content:center; */
   vertical-align: text-bottom;
  /* flex-direction:column; */
  /* flex-wrap: wrap; */
  /* background-color: grey; */
}
.info-page-main-info-difficulty span{
  margin-left: 32px;
    font-size: 20px;

}

.info-page-main-info-ingridients{
    border-top: dotted lightgrey 1px;

}

.info-page-main-info-inglist{
    width:585px;
    margin-bottom: 19px;
}
.info-page-main-info-inglist div{
  display:flex;
  flex-wrap: nowrap;
color:#737373;
font-size: 18px;

}
.info-page-main-info-ingname{
  width:130px;
}

.info-page-main-stepimage{
  width: 570px;
  height: 425px;
  border-collapse:collapse;
  border-radius: 15px;
  margin-bottom: 15px;
}
.info-page-main-info-stepbody{
  width: 570px;
  color:#737373;
  font-size: 18px;
}
.info-page-main-stepcontainer{
    width: 570px;
      margin-bottom: 15px;
}
.info-page-main-postcomment{
  /* height:245px; */
  width: 570px;
margin-bottom: 15px;

}
.info-page-main-postcomment textarea{
  height:155px;
  width: 570px;
  border: solid lightgrey 1px;
  border-collapse:collapse;
  border-radius: 15px;
  display: flex;
align-items:flex-start;
  flex-wrap: wrap;
  color: black;
  font-size: 18px;
  padding: 5px;
}
.info-page-main-postcomment textarea:focus{
  outline: 0;
}

.info-page-main-postcomment-btn{
  border-radius: 4px;
  background-color: #067F78;
  color: white;
   padding: 9px 25px;
   text-align: center;
   text-decoration: none;
   /* display: inline-block; */
   font-size: 16px;
   /* width:250px; */

   margin-left: 490px;
   margin-bottom: 4px;
   margin-top: 4px;
}

.info-page-main-postcomment-btn:hover{
    background-color: #0DB684;
}
.info-page-main-postcomment-btn:focus{
  outline:0;
}

.info-page-main-comment{
  background-color: white;
    width: 570px;
    margin-bottom: 15px;
}
.info-page-main-comment-header{
    width: 570px;
}
.info-page-main-comment-header a{
  color: #9A9A9A;
  text-decoration: none;
}
.info-page-main-comment-header a:visited{
  color: #9A9A9A;
  text-decoration: none;
}
.info-page-main-comment-header a:hover{
  text-decoration: underline;
color:#737373;
}
.info-page-main-comment-header span{
  margin: 15px;

    color:#737373;
}

.info-page-main-comment-header img{

}
.info-page-main-comment-body{
font-weight: bold;
  font-size: 18px;
  padding-left: 60px;
  padding-top: 15px;

}
