
.info-page-main-container{
  width: 863px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.info-page-main-container-spacer{
  height: 30px;
}
.info-page-main-img{
  width: 863px;
  height: 484px;
  border-collapse:collapse;
  border-radius: 15px;
}

.info-page-main-mini-nav{
  height: 60px;
    width: 863px;
  border-bottom: 1px solid #D8D8D8;
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
}

.sticky {
  position: fixed;
  top: 0;
  width: 863px;
}
.info-page-main-mini-nav-links{
  width:70%;
  height: 60px;
  background-color: white;
  display: flex;
  flex-flow: row;

}

.btn{
  color: #464646;
   padding: 19px 15px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 17px;
   border: none;
   border-bottom: solid white 2px;
}

.btn:active{
   border-bottom: solid #067F78 3px;
}

.btn:focus{
   border-bottom: solid #067F78 3px;
   outline: none;
}

.info-page-main-mini-nav-pin{
  width:30%;
  height: 60px;
  background-color: white;
}


.info-page-main-info{
  height:635px;
  width: 863px;
  background-color: white;
}

.info-page-main-info-details{
  width: 585px;
  height:635px;
}
.info-page-main-info-recommended{
  width: 278px;
  height:635px;
  background-color: green;
}


.info-page-main-info-name{
height: 80px;
width:585px;
color:#464646;
background-color: white;
font-size: 26px;
display: flex;
justify-content:center;
align-content:center;
flex-direction:column;
flex-wrap: wrap;
/* padding-left: 7px; */

}
/* .info-page-main-info-name span{
  margin-left: 7px;
} */

.info-page-main-info-likes{
  border-top: dotted lightgrey 1px;
  height: 55px;
  width:585px;
  background-color: white;
  display: block;
  display:flex;
  flex-wrap: nowrap;
}
.info-page-main-info-likes div{
  padding-top: 16px;
}

.info-page-main-info-likes img{
    width: 25px;
    height: 25px;
    margin-top: 14px;
    margin-right: 5px;
}
.info-page-main-info-difficulty{
  border-top: dotted lightgrey 1px;
padding-top: 16px;
  height: 55px;
  width:585px;
  font-size: 22px;
color:#464646;

  /* display: flex; */
  /* align-content:center; */
   vertical-align: text-bottom;
  /* flex-direction:column; */
  /* flex-wrap: wrap; */
  /* background-color: grey; */
}
.info-page-main-info-difficulty span{
  margin-left: 32px;
    font-size: 17px;

}

.info-page-main-info-ingridients{
    border-top: dotted lightgrey 1px;

}
